@import "tailwindcss";

@font-face {
    font-family: 'main';
    src: url('/font/Inconsolata-VariableFont_wdth,wght.ttf');
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;

    font-family: 'main';
}

html, body, #root {
    min-height: 100vh;
    height: auto;
}

.linename {
    background-image: linear-gradient(to right, #f37362, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
